@font-face {
  font-family: "CustomFont";
  src: url("touch-of-nature.regular.ttf");
}

@font-face {
  font-family: "Patagonia";
  src: url("belwelightbt.ttf");
}

.header {
  text-align: center;
}

body {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/upwk61824402-wikimedia-image.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=6febcfa89566b77064be13aebe5b9a73");
  background-size: cover;
  color: white;
}

.logo {
  max-width: 150px;
  height: auto;
  margin-top: 20px;
}

.title {
  font-family: "CustomFont";
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e08438;
}

.tagline {
  font-family: "Patagonia";
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.middle_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 700px;
}

.weather_html,
.itinerary_preview,
#saved_itinerary_html,
.weather_header {
  margin-top: 50px;
}

.attractions_html,
.itinerary_preview,
.parks_html,
.eateries_html,
.saved_itineraries_header,
.weather_header {
  font-family: "CustomFont";
  color: #e08438;
  font-size: 25px;
}

.weather_day_0,
.weather_day_1,
.weather_day_2,
.weather_day_3,
.weather_day_4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 220px;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 5px;
  text-align: center;
  border-radius: 10px;
  font-family: "Patagonia";
}

.weather_icon {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.itinerary_preview {
  font-size: 25px;
}

#park_preview_html,
#attractions_preview_html,
#eateries_preview_html {
  margin: 15px;
  font-size: 25px;
}

.save_button_html {
  margin: 20px;
  font-family: "Patagonia";
}

#saved_itinerary_html {
  font-family: "Patagonia";
  text-align: left;
}

.saved_itineraries {
  font-family: "Patagonia";
  flex: 1;
  padding: 10px;
}

/* Styling for individual elements */
.itinerary_preview_html,
.details_button_html,
.save_button_html,
.saved_itinerary_html {
  margin: 5px;
}

#error {
  color: red;
}

.details_park,
.details_attraction,
.details_eatery {
  margin: 20px 20px;
  /* border: 1px solid rgb(255, 255, 255); */
  /* background-color: #dd3835; */
  /* background-image: linear-gradient(to bottom, rgba(224, 132, 56, 0.5), rgba(216, 57, 55, 0.5)); */
  /* background-image: linear-gradient(to bottom, #e08438, #d83937); */
  /* background-color: rgb(216, 57, 55, .5); */
  border-radius: 10px;
  padding: 30px;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.details_park:hover,
.details_attraction:hover,
.details_eatery:hover {
  background-position: right center;
}

.save_button {
  background-color: grey;
  border-radius: 5px;
  color: white;
  /* border: none; */
  padding: 5px 10px;
  cursor: not-allowed;
  /* border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial; */
}

.button-active {
  background-color: #e08438;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family: "Patagonia";
  /* border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial; */
}

.button-active:hover {
  box-shadow: 2px 2px 3px grey;
  transform: scale(1.05);
}

.selected_park,
.selected_eatery,
.selected_attractions {
  cursor: pointer;
  transition: font-size 0.2s ease-in-out;
}

.selected_park:hover {
  font-size: 30px;
}
.selected_attractions:hover {
  font-size: 30px;
}
.selected_eatery:hover {
  font-size: 30px;
}
